@keyframes scl {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 31, ../sass/product_style.scss */
* {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  box-sizing: border-box;
}

/* line 36, ../sass/product_style.scss */
body {
  text-transform: capitalize;
  line-height: 30px;
}
/* line 40, ../sass/product_style.scss */
body h2 {
  text-align: center;
}

/* line 45, ../sass/product_style.scss */
.container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 56, ../sass/product_style.scss */
.container .cols {
  position: relative;
  cursor: pointer;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
/* line 58, ../sass/product_style.scss */
.container .cols:hover {
  transform: scale(1.1);
}
/* line 93, ../sass/product_style.scss */
.container .cols .blk {
  display: block;
}
/* line 97, ../sass/product_style.scss */
.container .cols img {
  height: auto;
  width: 100%;
}

/* line 105, ../sass/product_style.scss */
.update_data {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
/* line 117, ../sass/product_style.scss */
.update_data table {
  border: 5px solid #aaa8a8;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  min-width: 350px;
  animation: scl 1s;
  -webkit-animation: scl 1s;
  -moz-animation: scl 1s;
  -o-animation: scl 1s;
  -ms-animation: scl 1s;
}
/* line 128, ../sass/product_style.scss */
.update_data table button[name=dlt] {
  color: white;
  background: linear-gradient(#ff7474, red, #ff7474);
}
/* line 133, ../sass/product_style.scss */
.update_data table input, .update_data table button {
  width: 100%;
  padding: 5px 10px;
}
