/* line 8, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 12, ../sass/style.scss */
.col-sm-12 {
  min-width: 300px;
}

/* line 17, ../sass/style.scss */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/back_img.jpg") no-repeat;
  padding: 25px 15px 10px 15px;
  overflow: auto;
}
/* line 21, ../sass/style.scss */
#home .home_box {
  color: white;
}
/* line 24, ../sass/style.scss */
#home .home_box .social_icons {
  float: right;
  margin-bottom: 50px;
}
/* line 27, ../sass/style.scss */
#home .home_box .social_icons li {
  display: inline;
  margin-left: 10px;
}
/* line 37, ../sass/style.scss */
#home .home_box .row ul {
  padding: 0;
}
/* line 40, ../sass/style.scss */
#home .home_box .row ul li {
  list-style-type: none;
}

/* line 48, ../sass/style.scss */
.register_form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 5px;
  color: #069e06;
  width: 300px;
  box-sizing: content-box;
}
/* line 56, ../sass/style.scss */
.register_form input {
  display: block;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 300px;
}
/* line 64, ../sass/style.scss */
.register_form input[type=submit] {
  padding: 10px 20px;
  background-color: #069e06;
  color: white;
  text-transform: uppercase;
  width: 100px;
}

/* line 73, ../sass/style.scss */
.align_center {
  text-align: center;
}
/* line 79, ../sass/style.scss */
.align_center .for_hr hr {
  display: inline-block;
  width: 30px;
  border: 1px solid black;
}
/* line 86, ../sass/style.scss */
.align_center .for_hr img {
  height: 15px;
  width: 15px;
  position: relative;
  bottom: 12px;
}

/* line 98, ../sass/style.scss */
.my_txt .row {
  margin: 40px 0px;
  text-align: center;
}

/* line 106, ../sass/style.scss */
.img_div img {
  height: auto;
  width: 100%;
}

/* line 114, ../sass/style.scss */
.benefits li {
  list-style-type: none;
}
/* line 117, ../sass/style.scss */
.benefits img {
  width: 20px;
  height: 20px;
}

/*.testimonials_item
            {
                min-width: 300px;
                display: flex;
                align-content: flex-start;
                .test_img,img,div.client_test
                {
                    display: inline-block;
                  
                }
.test_img
{
    width: 25%;
    
}
div.client_test
                {
                    min-width: 10px;
                    overflow: hidden;
                    width: 65%;
                }}*/
/* line 143, ../sass/style.scss */
.partners {
  display: block;
  text-align: center;
}
/* line 145, ../sass/style.scss */
.partners li {
  display: inline-block;
  margin: 0px 10px;
}
/* line 151, ../sass/style.scss */
.partners img {
  height: 50px;
  width: 100px;
  display: inline-block;
}

/* line 158, ../sass/style.scss */
.copyright {
  text-align: center;
}
