/* line 8, ../sass/assig2.scss */
* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* line 14, ../sass/assig2.scss */
.row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 20, ../sass/assig2.scss */
li {
  list-style-type: none;
}

/* line 24, ../sass/assig2.scss */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/back_img.jpg") no-repeat;
  padding: 15px 15px 10px 15px;
  overflow: auto;
}
/* line 29, ../sass/assig2.scss */
#home .home_box {
  color: white;
}
/* line 32, ../sass/assig2.scss */
#home .home_box .social_icons {
  float: right;
  margin-bottom: 50px;
}
/* line 35, ../sass/assig2.scss */
#home .home_box .social_icons li {
  display: inline;
  margin-left: 10px;
}
/* line 40, ../sass/assig2.scss */
#home .home_box .social_icons li a {
  color: white;
  text-decoration: none;
}
/* line 44, ../sass/assig2.scss */
#home .home_box .social_icons li img {
  height: 25px;
  width: 25px;
}
/* line 54, ../sass/assig2.scss */
#home .home_box .row .sevencol, #home .home_box .row .fivecol {
  margin: 10px;
}
/* line 61, ../sass/assig2.scss */
#home .home_box .row .fivecol .register_form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px;
  border-radius: 5px;
  color: #069e06;
}
/* line 68, ../sass/assig2.scss */
#home .home_box .row .fivecol .register_form input {
  display: block;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 300px;
}
/* line 77, ../sass/assig2.scss */
#home .home_box .row .fivecol .register_form input[type=submit] {
  padding: 10px 20px;
  background-color: #069e06;
  color: white;
  text-transform: uppercase;
  width: 100px;
}
/* line 90, ../sass/assig2.scss */
#home ul {
  padding: 0;
}

/* line 97, ../sass/assig2.scss */
.align_center {
  text-align: center;
}
/* line 102, ../sass/assig2.scss */
.align_center hr, .align_center i {
  display: inline-block;
}
/* line 109, ../sass/assig2.scss */
.align_center .for_hr hr {
  width: 30px;
}
/* line 115, ../sass/assig2.scss */
.align_center .for_hr img {
  height: 15px;
  width: 15px;
  position: relative;
  bottom: 2px;
}

/* line 131, ../sass/assig2.scss */
.section_wrapper .section_box .row .fourcol {
  min-width: 200px;
  padding: 20px;
}

/* line 140, ../sass/assig2.scss */
hr.divider {
  border: 0.5px solid #d6d6d6;
}

/* line 144, ../sass/assig2.scss */
.img_div {
  height: 300px;
  width: 300px;
  margin: 10px 40px;
}
/* line 149, ../sass/assig2.scss */
.img_div img {
  width: 100%;
  height: auto;
}

/* line 158, ../sass/assig2.scss */
#benefits ul li img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
}

/* line 163, ../sass/assig2.scss */
.client_div {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
/* line 170, ../sass/assig2.scss */
.client_div .sixcol {
  display: inline-block;
  width: 40%;
  min-width: 300px;
  margin: 5px 10px;
}
/* line 176, ../sass/assig2.scss */
.client_div .sixcol .testimonials_item {
  display: flex;
  align-content: flex-start;
}
/* line 180, ../sass/assig2.scss */
.client_div .sixcol .testimonials_item .test_img, .client_div .sixcol .testimonials_item img, .client_div .sixcol .testimonials_item div.client_test {
  display: inline-block;
}
/* line 185, ../sass/assig2.scss */
.client_div .sixcol .testimonials_item .test_img {
  width: 25%;
}
/* line 190, ../sass/assig2.scss */
.client_div .sixcol .testimonials_item img {
  height: auto;
  width: 100%;
}
/* line 195, ../sass/assig2.scss */
.client_div .sixcol .testimonials_item div.client_test {
  width: 65%;
}
/* line 203, ../sass/assig2.scss */
.client_div img {
  display: inline-block;
  width: 40%;
  height: 100px;
  width: 100px;
}

/* line 212, ../sass/assig2.scss */
.partners li {
  display: inline-block;
  margin: 0px 10px;
}
/* line 217, ../sass/assig2.scss */
.partners img {
  height: 50px;
  width: 100px;
  display: inline-block;
}
