/* line 24, ../sass/style.scss */
* {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}

/* line 29, ../sass/style.scss */
body {
  color: white;
  background: dodgerblue;
}

/* line 34, ../sass/style.scss */
header {
  height: 100px;
  line-height: 100px !important;
  background-color: #dcf764;
}
/* line 38, ../sass/style.scss */
header nav {
  text-align: center;
}
/* line 40, ../sass/style.scss */
header nav a {
  text-decoration: none;
  color: gray;
  margin-right: 20px;
}
/* line 45, ../sass/style.scss */
header nav a:hover {
  text-decoration: underline;
}

/* line 54, ../sass/style.scss */
section {
  min-height: 500px;
  padding: 20px;
  text-align: center;
}
/* line 59, ../sass/style.scss */
section article {
  margin: 10px;
  width: 40%;
  display: inline-block;
  min-width: 300px;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
}

/* line 70, ../sass/style.scss */
footer {
  text-align: center;
  width: 100%;
  background-color: tomato;
  height: 50px;
  line-height: 50px !important;
}
